body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.loginForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
}

.add_form {
  background-color: #292929;
  /* height: 30vh; */
}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}

.addButton {
  
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px #1189de;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  font-size: calc(15px + 2vmin);
  color: white;
  padding:10px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.headerbtn {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  margin-right: 20px;
}

.login {
  background-color: #282c34;
  height: 100%;
  width: 100%;
}


.App-link {
  color: #61dafb;
}

.movies {
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}

.list_item {
  display: grid;
  /* border-bottom-color: darkmagenta; */
  border-bottom: 0.5px solid gray;
  padding: 10px;
}
.mlist_item {
  /* display: flex; */
  /* border-bottom-color: darkmagenta; */
  border-bottom: 0.5px solid gray;
  padding: 10px;
}

.label {
  display: grid;
}

.delete-btn {
  /* background: #ff0000; */
  color: #522c2c;
  border: none;
  padding: 1px 10px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.list-input {
  margin: 1px 2px;
}

.btn-add {
  /* width: 100%; */
  /* width: 200px; */
  float: right;
  color: #565656;
  padding: 12px;
  margin:15px 10px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
 }

 .main {
   display:grid;
   /* margin-top:8vh; */
 }

 .form {
  margin: 10px;
  text-align: center;
 }


.form-input {
  padding: 10px;
}
    /* width: 20vw; */
    /* margin: 20px 10px; */
 /* } */ 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
